
#ruleListContainer {
	min-height: 20px;
	max-height: 200px;
	overflow-y: auto;
	width: 99%;
}
#ruleListContainer li.item.drag {
	height: 35px;
}

li.item.drag
{
	height: 60px;
	width: 60px;
	background-size: 60px;
	background-color: white;
}
#ruleListContainer li a {
	background-size: 18px;
	background-position: left center;
	background-repeat: no-repeat;
}
li a {
	background-size: 32px;
	background-position: center;
	background-repeat: no-repeat;
}

li.greater p:before {	content:">  ";}
li.equal p:before { 	content:"=  ";}
li.smaller p:before {	content:"<  ";}

li.time a,
li.wait a {
	background-image: url("/images/timer.png");
}
li.power a,
li.energy a {
	background-image: url("/images/energy.png");
}
li.measure a,
li.climate a {
	background-image: url("/images/climate.png");
}
li.light a{
	background-image: url("/images/light.png") ;
}
li.exit a,
li.access a,
li.security a{
	background-image: url("/images/security.png");
}
li.water a{
	background-image: url("/images/water.png");
}
li.gas a{
	background-image: url("/images/gas.png");
}

/* Provisional bugfix for CGI */
li.separator, div.separator p {
	display: none!important;
}
#dialogvaluerender {
	text-align: center;
	font-size: large;
	margin: 5px;
}
.ui-dialog-title button {
	border: none;
	background-color:transparent;
}