/** Adding some icons for the tags */
li.sound a, 
li.power a,
li.energy a {
	background: url("/images/energy.png") no-repeat left center;
}
li.wait a,
li.measure a,
li.climate a {
	background: url("/images/climate.png") no-repeat left center;
}
li.light a{
	background: url("/images/light.png") no-repeat left center;
}
li.access a,
li.security a{
	background: url("/images/security.png") no-repeat left center;
}
li.water a{
	background: url("/images/water.png") no-repeat left center;
}
li.gas a{
	background: url("/images/gas.png") no-repeat left center;
}

li.separator {
	display: block!important;
	width: 100%;
}

#editSequenceSteps li
{
	height: 60px;
	width: 60px;
}