/*#editRule_div {
	width: 48%;
	display: inline-block;
	vertical-align: top;
}*/
#ruleListContainer {
	min-height: 20px;
	max-height: 200px;
	overflow-y: auto;
}
#editConditions li.item
{
	height: 60px;
	width: 60px;
}
#ruleListContainer li a {
	background-size: 24px;
	background-position: left center;
	background-repeat: no-repeat;
}
#editConditions li a {
	background-size: 32px;
	background-position: center;
	background-repeat: no-repeat;

}
