
li.DO a.on {
	background: transparent url('/images/on.png') center center no-repeat;
	display: block;
	width: 94px;
	height: 27px;
}

li.DO a.off {
	background: transparent url('/images/off.png') center center no-repeat;
	display: block;
	width: 94px;
	height: 27px;
}

li.DI a.off{
	background: transparent url('/images/di_off.png') center center no-repeat;
	display: block;
	width: 94px;
	height: 27px;	
}

li.DI a.on{
	background: transparent url('/images/di_on.png') center center no-repeat;
	display: block;
	width: 94px;
	height: 27px;	
}

li.AO .range {
	width: 80% !important;
	max-width: 300px;
	display: inline-block;
	vertical-align: middle
}

li.AO .preview {
	width: 20% !important;
	display: inline-block;
	padding: 0px;
	margin: 0px;
	background: transparent;
	border: none;
	min-width: 35px;
	vertical-align: middle
}

/** Adding some icons for the tags */
li.energy label {
	background: url("/images/energy.png") no-repeat left center;
}
li.climate label {
	background: url("/images/climate.png") no-repeat left center;
}
li.light label{
	background: url("/images/light.png") no-repeat left center;
}
li.security label{
	background: url("/images/security.png") no-repeat left center;
}
li label {
	padding-left: 32px;
}