p.DO a.sw-on {
	background: transparent url('/images/on.png') center center no-repeat;
	display: block;
	width: 94px;
	height: 27px;
}

p.DO a.sw-off {
	background: transparent url('/images/off.png') center center no-repeat;
	display: block;
	width: 94px;
	height: 27px;
}

p.DI a.sw-off{
	background: transparent url('/images/di_off.png') center center no-repeat;
	display: block;
	width: 94px;
	height: 27px;	
}

p.DI a.sw-on{
	background: transparent url('/images/di_on.png') center center no-repeat;
	display: block;
	width: 94px;
	height: 27px;	
}

.range {
	max-width: 300px;
}