/** Adding some icons for the tags */
li.wait a {
	background-image: url("/images/timer.png");
}
li.play a,
li.say a,
li.sound a{
	background-image: url("/images/music.png");
}
li.power a,
li.energy a {
	background-image: url("/images/energy.png");
}
li.measure a,
li.climate a {
	background-image: url("/images/climate.png");
}
li.light a{
	background-image: url("/images/light.png") ;
}
li.exit a,
li.access a,
li.security a{
	background-image: url("/images/security.png");
}
li.water a{
	background-image: url("/images/water.png");
}
li.gas a{
	background-image: url("/images/gas.png");
}

li.separator {
	display: block!important;
	width: 100%;
}
li.item {
	background-color:white;
}
.dialogvaluerender {
	font-size: large;
	text-align: center;
}

#stepListContainer {
	min-height: 20px;
	max-height: 200px;
	overflow-y: auto;
}
#editSequenceSteps li.item
{
	height: 60px;
	width: 60px;
}
#stepListContainer li a {
	background-size: 24px;
	background-position: left center;
	background-repeat: no-repeat;
}
#editSequenceSteps li a {
	background-size: 32px;
	background-position: center;
	background-repeat: no-repeat;

}