
/** Adding some icons for the tags */
#manageSequenceSteps li.pause a{
	background: url("/images/timer.png") no-repeat left center;
}
#manageSequenceSteps li.setport a{
	background: url("/images/unknown.png") no-repeat left center;
}
#manageSequenceSteps li.play a{
	background: url("/images/play.png") no-repeat left center;
}
#manageSequenceSteps li.energy a {
	background: url("/images/energy.png") no-repeat left center;
}
#manageSequenceSteps li.climate a {
	background: url("/images/climate.png") no-repeat left center;
}
#manageSequenceSteps li.light a{
	background: url("/images/light.png") no-repeat left center;
}
#manageSequenceSteps li.security a{
	background: url("/images/security.png") no-repeat left center;
}
#manageSequenceSteps li.water a{
	background: url("/images/water.png") no-repeat left center;
}
#manageSequenceSteps li.gas a{
	background: url("/images/gas.png") no-repeat left center;
}

#manageSequenceSteps li a {
	padding-left: 32px;
}